@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.border-gradient {
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #ff7e5f);
  background-size: 200% 200%;
  animation: rotate-gradient 8s linear infinite;
  border-radius: 8px;
}

